<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">

            <div class="col-lg-6 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/image7.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Work on pavers
                            </div>
                            <div class="project-name">
                                Pavers
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/image2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Work on landscaping
                            </div>
                            <div class="project-name">
                                Landscaping
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <div class="row no-gutter">
            <div class="col-lg-6 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/image3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Work on pavers
                            </div>
                            <div class="project-name">
                                Pavers
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-6 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/image5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Work on landscaping
                            </div>
                            <div class="project-name">
                                Landscaping
                            </div>
                        </div>
                    </div>
                </a>
            </div>
</div>
            <div class="row no-gutter">

            <div class="col-lg-6 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/image5.jpeg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Work on landscaping
                            </div>
                            <div class="project-name">
                                Landscaping
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/image6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Work on landscaping
                            </div>
                            <div class="project-name">
                                Landscaping
                            </div>
                        </div>
                    </div>
                </a>
            </div>

</div>

        </div>
    </div>
</section>
